services:
  postgres:
    image: postgres:16-alpine
    container_name: productsdb
    environment:
      POSTGRES_DB: productsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: product-api
    environment:
      DATABASE_URL: jdbc:postgresql://postgres:5432/productsdb
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
    ports:
      - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: